<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/fragments::headTag('')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<th:block th:include="fragment/fragments::YandexMetrika"/>
<nav th:replace="fragment/fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true"
                aria-label="Меню">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/" class="navbar-brand">Проекты / Стажировка</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="/view/story" class="nav-link waves-effect waves-light">Истории/Отзывы</a>
                </li>
                <li class="nav-item">
                    <a href="/view/books" class="nav-link waves-effect waves-light">Литература</a>
                </li>
                <li class="nav-item">
                    <a href="/view/news" class="nav-link waves-effect waves-light">Новости</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item nav-link">
                    <a data-config="commands=add;size=22;status=on" href="skype:grigory.kislin">
                    </a>
                </li>
                <li class="nav-item nav-link">
                    <a href="mailto:admin@javaops.ru" data-toggle="tooltip"
                       data-original-title="почта: admin@javaops.ru" data-placement="bottom">
                        <i class="fa fa-envelope fa-lg" aria-hidden="true"></i></a>
                </li>
                <li class="nav-item nav-link" data-toggle="tooltip"
                    data-original-title="группа VK 'Java Enterprise Online Обучение'" data-placement="bottom">
                    <a href="https://vk.com/javawebinar" target="_blank">
                        <i class="fa fa-vk fa-lg" aria-hidden="true">&nbsp;</i>
                    </a>
                </li>
                <li class="nav-item nav-link" data-toggle="tooltip"
                    data-original-title="Youtube канал 'Java Online Projects'" data-placement="bottom">
                    <a href="https://www.youtube.com/channel/UCMiuo1BSwQxRMl6781evABw/videos" target="_blank">
                        <i class="fa fa-youtube fa-lg" aria-hidden="true">&nbsp;</i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-light" href="#"
                       id="navbarDropdownLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i> Вход
                    </a>
                    <div class="dropdown-menu dropdown-warning dropdown-menu-right"
                         aria-labelledby="navbarDropdownLogin" data-dropdown-in="fadeIn"
                         data-dropdown-out="fadeOut">
                        <a class="dropdown-item waves-effect waves-light" href="/login/google">
                            <i class="fa fa-google"></i> через Google
                        </a>
                        <a class="dropdown-item waves-effect waves-light" href="/login/github">
                            <i class="fa fa-github"></i> через GitHub
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container pad">
    <h3 class="centered"><img src="../static/img/study.png"/> &nbsp;Онлайн обучение Java Core/ Web/ Enterprise.<br/>
        Совместная разработка проектов. Стажировки и помощь в трудоустройстве.</h3>
    Уникальное, быстрое практическое освоение различных технологий и фреймворков Java за счет совместного создания
    проекта, решения практических задач в ходе его
    разработки (все домашние задания являются частью одного проекта), ревью кода и обратной связи.
    <hr/>
    <ul>
        <li>Если ты новичек, это твой шанс <b>освоить новую профессию на отлично</b>, без долгих блужданий по просторам
            интернета
        </li>
        <li>Если в поиске работы Java разработчика, после стажировки <b>шансы получить хорошую
            работу возрастут на порядок</b></li>
        <li>Если уже работаешь на Java, но мало опыта в Enterprise,
            <b>стажировка это отличный способ получить его быстро и на хорошем уровне</b>
        </li>
    </ul>
    <hr/>
    Начальный уровень: от массивов до создания <i><a data-toggle="tooltip"
                                                     data-original-title="Create, Read, Update, Delete -  акроним, обозначающий четыре базовые функции, используемые при работе с персистентными хранилищами данных">CRUD</a></i>
    веб приложения
    <h4 th:replace="fragment/projectFragments::basejava_title"></h4>
    <div id="basejava" class="collapse">
        <i th:include="fragment/projectFragments::basejava"></i><br/>
        <h6><a href="/reg/basejava">Подробнее...</a></h6>
        <h5><a href="/reg/basejava#entrance">Получить открытое первое занятие</a></h5>
    </div>
    <hr/>
    От CRUD веб приложения до многоуровневого Maven/ Spring MVC/ Security/ JPA/ REST Enterprise приложения
    <h4 th:replace="fragment/projectFragments::topjava_title"></h4>
    <div id="topjava" class="collapse">
        <i th:include="fragment/projectFragments::topjava"></i><br/>
        <h6><a href="/reg/topjava">Подробнее...</a></h6>
        <h5><a href="/reg/topjava#entrance">Получить бесплатное вводное занятие</a></h5>
    </div>
    <hr/>
    Эксперт: многопоточность JAXB/StAX, JAX-WS/SOAP, JAX-RS, JMS, AKKA, Guava, JMH, Lombook, ...
    <h4 th:replace="fragment/projectFragments::masterjava_title"></h4>
    <div id="masterjava" class="collapse">
        <i th:include="fragment/projectFragments::masterjava"></i><br/>
        <h6><a href="/reg/masterjava">Подробнее...</a></h6>
        <h5><a href="/reg/masterjava#entrance">Получить открытое первое занятие <b>Многопоточность</b></a></h5>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-4">
            <h4 style="text-align: center">ОТКРЫТЫЕ первые занятия</h4>
            <p>
                <b>Получи ссылку на бесплатное первое занятие</b>, оцени свой уровень, выполнив первое домашнее
                задание, получи представление об
                участии в проекте.
            </p>
        </div>
        <div class="col-4">
            <h4 style="text-align: center">Помощь с трудоустройством</h4>
            <p>
                <b>Обновления нашей базы выпускников смотрят уже более 125 партнеров по трудоустройству (компании и
                    индивидуальные
                    рекрутеры).</b><br/>
            </p>
            <h5><a href="/view/story">Истории/Отзывы</a></h5>
        </div>
        <div class="col-4">
            <h4 style="text-align: center">Последовательная возрастание сложности</h4>
            <p>
                Сложность проекта возрастает постепенно, с кода <code>"Hello!"</code> в <code>main()</code> до финальной
                версии в <a href="http://topjava.herokuapp.com/">Heroku</a>.
                Слон съедается по кусочкам.
            </p>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-4">
            <h4 style="text-align: center">Общение, поддержка группы и преподавателя</h4>
            <p>
                Общение в группе проекта <i class="fa fa-slack"></i>Slack по любым вопросам (дополнительно к занятиям):
                git, idea, трудоустройство, новости IT и пр.<br/>
                В группе выпускников обсуждение вступительных заданий,
                свежие вакансии, цены на рынке труда, события IT, помощь, интересные видео...
            </p>
        </div>
        <div class="col-4">
            <h4 style="text-align: center">Доступность материалов</h4>
            <p>
                Все видео доступно для просмотра онлайн и скачивания (в случае вебинаров - сразу после занятия).
                Записи разбиты по темам и тщательно отредактированы. Большое количество подобранных ресурсов
                для углубления в детали.
            </p>
        </div>
        <div class="col-4">
            <h4 style="text-align: center">Ревью Вашего кода</h4>
            <p>
                Вы увидите именно свои ошибки в стиле, структурах данных, алгоритмах, кодировании.<br/>
                <b>Опыт равноценен нескольким годам работы Java разработчиком.</b>
            </p>
        </div>
    </div>
    <hr/>
    <div class="row align-items-center">
        <div class="col-4">
            <h4 style="text-align: center">Совместная разработка</h4>
            <p>
                Участники на протяжении всего курса работают с кодом проекта. Выполнение домашних заданий
                закрепляет полученные знания. В результате проект становится "Вашим".
            </p>
        </div>
        <div class="col-4">
            <h4 style="text-align: center">Оптимальное подобранное время</h4>
            <p>
                Занятия проходят раз в неделю на стажировках <a href="http://javaops.ru/reg/topjava">Topjava</a> и <a
                    href="http://javaops.ru/reg/masterjava">Masterjava</a>, время необходимое для проработки пройденных
                тем и выполнения домашнего
                задания. Индивидуальный график обучения основ на <a href="http://javaops.ru/reg/basejava">Basejava</a>.
            </p>
        </div>
        <div class="col-4">
            <script type="text/javascript" src="//vk.com/js/api/openapi.js?136"></script>

            <!-- VK Widget -->
            <div id="vk_groups" class="mx-auto"></div>
            <script type="text/javascript">
                VK.Widgets.Group("vk_groups", {mode: 3, width: "220"}, 58538268);
            </script>
        </div>
    </div>
    <hr/>
    Самые распространенные темы и ресурсы для подготовки
    <h4 th:replace="fragment/projectFragments::interview_title"></h4>
    <div id="interview" class="collapse">
        <i th:include="fragment/projectFragments::interview"></i>
        <a href="/view/test">Подробнее...</a>
        <h5><a href="/view/test">Пройти собеседование и оценить свой уровень</a></h5>
    </div>
    <br/>
    <a id="intership"></a>
    <div class="jumbotron">
        <h4>Позиционирование в резюме стажировки <a href="/reg/topjava">Java Enterprise (Topjava)</a></h4>
        <ul>
            <li>Обязательно убери из резюме <b>любое упоминание Junior</b>. Количество обращений возрастет на
                порядок.
            </li>
            <li>После завершения проекта ты освоишь все заявленные в нем технологии - вставь их в квалификацию.</li>
            <li> В разделе опыт работы (если нет коммерческого опыта) вставь:
                <p><b>Участие в разработке Spring/JPA Enterprise приложения c авторизацией и правами доступа на основе
                    ролей на
                    стеке</b>:<br/> <i>Maven, Spring MVC, Spring Security, REST (Jackson), Java 8 Stream API</i>:
                </p>
                <ul>
                    <li>реализация сохранения в базы Postgres и HSQLDB на основе Spring JBDC, JPA(Hibernate) и
                        Spring-Data-JPA
                    </li>
                    <li>реализация и тестирование REST и AJAX контроллеров (более 100 JUnit тестов)</li>
                    <li>реализация клиента на Bootstrap (css/js), datatables, jQuery + plugins.</li>
                    <li>собственная доработка проекта</li>
                </ul>
                <br/>
                <p>
                    Делай упор не на обучение, а на <b>участие в проекте</b>. Выполнение домашних заданий это
                    полноценное участие с написанием функционала по всем пройденным технологиям. На собеседовании
                    смотрят не на то, что ты заканчивал, а на опыт и знания.
                </p>
            </li>
        </ul>
        <h4>В процессе обучения</h4>
        <ul>
            <li>
                Если рассмотриваешь предложения по работе, подними <a href="/auth/profile">в своем профиле</a>
                этот флаг и обязательно заполни ссылку на резюме. Обновления нашей базы выпускников смотрят уже более
                125 партнеров по трудоустройству (компании и индивидуальные рекрутеры).
                Проверь содержание "Информация для HR": по нему принимают решение, открывать резюме или нет.
            </li>
            <li>Вступай в нашу группу участников Slack: каналы помощи с Java, отзывы о работодателях,
                обсуждение тестовых заданий, вакансии, цены на рынке труда, IT события, интересные видео и многое
                другое.
            </li>
            <li><a href="https://vk.com/javawebinar?w=wall-58538268_414">Подпишитесь на рассылку вакансий под себя</a>
            </li>
        </ul>
        <h4>После прохождения испытательного срока жду твою <a href="\view\story"> историю успеха</a></h4>
        <br/>
        <h4><a href="https://vk.com/topic-74381644_30447246">Отзывы по стажировке</a></h4>
        <h4>
            <a href="https://github.com/JavaOPs/topjava/blob/master/cv.md#Составление-резюме-подготовка-к-интервью-поиск-работы">Составление
                резюме, подготовка к интервью, поиск работы</a></h4>
    </div>

    <h4><img src="../static/img/contacts.png"/><a href="#contact" data-toggle="collapse"> &nbsp;Контакты</a></h4>
    <div id="contact" class="collapse">
        <h5>Автор проекта: <a href="http://gkislin.ru" target="_blank">Кислин Григорий</a>. &nbsp;<a href="/view/story/story4">Моя история</a> (от 15/03/2016).</h5>
        <h5><a href="http://gkislin.ru/ru/cv.html">Резюме</a>. &nbsp;<a href="https://stackoverflow.com/users/548473">Stackoverflow</a> &nbsp;<a href="https://habrahabr.ru/users/gkislin/">Habrahabr</a>
        <h5>
            Буду рад письмам: <a href="mailto:admin@javaops.ru">admin@javaops.ru</a>
        </h5>
        <h5>
            Добавляйся в skype: <a href="skype:grigory.kislin">grigory.kislin</a> &nbsp;<a href="https://vk.com/grigory.kislin">Вконтакте</a> &nbsp;<a href="https://www.linkedin.com/in/gkislin">LinkedIn</a>
        </h5>
            <h5>
                Приглашаю в группы <a href="https://vk.com/javawebinar">ВКонтакте</a> &nbsp;<a href="https://www.youtube.com/channel/UCMiuo1BSwQxRMl6781evABw">YouTube</a> &nbsp;<a href="https://www.facebook.com/groups/javaops">Facebook</a>
            </h5>
    </div>
    <th:block th:include="fragment/fragments::footer"/>
</div>
</body>
<th:block th:include="fragment/fragments::js-skype">
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../static/js/tether.min.js"></script>
    <!-- https://mdbootstrap.com/getting-started/ -->
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>

    <a data-config="commands=add;size=14;status=on" id="skaip-buttons" href="http://www.skaip.su/">Skype</a>
    <script src="http://apps.skaip.su/buttons/widget/core.min.js" defer="defer"></script>
</th:block>
<th:block th:include="fragment/fragments::tooltip">
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</th:block>
</html>