<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/fragments::headTag('')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav th:replace="fragment/fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container pad">
    <br/>
    <h3 class="centered">
        <img src="../static/img/news.png"/> Новости</h3>
    </h3>
    <br/>
    <div class="jumbotron" style="padding-bottom: 16px">
        <ul>
            <li>
                <h4><a href="/reg/topjava">
                    26.10 старт стажировки Topjava</a>. До 30.09 дейcтвует ранняя цена.
                </h4>
            </li>
            <li>
                <h4>
                    <a href="/reg/masterjava">
                        17.10 старт стажировки Masterjava</a>. До 30.09 дейcтвует ранняя цена.
                </h4>
            </li>
        </ul>
        <hr/>
        Остается возможность проходить стажировки в индивидуальном порядке. <br/>
        Из <a href="/auth/profile">своего профиля</a> можно <b>записаться на бесплатный повтор</b>.<br/>
        Буду признателен <b>за рекомендации друзьям и репосты <a
            href="https://vk.com/javawebinar?w=wall-58538268_917"> наборов в VK</a> и <a
            href="https://www.facebook.com/groups/javaops/permalink/331728463920969/">в Facebook</a></b>.<br/>
        Действует бонусная программа при оплате проекта новым участником, пришедшим по личной реферальной ссылке (скопиовать из
        профиля).<br/>
        <a href="/auth/profile">В профиле</a> стоимость на проекты рассчитывается автоматически с учетом бонусов и
        участия в других проектах.
    </div>
    <div class="jumbotron">
        <h4 th:include="fragment/projectFragments::payonline_title"></h4>
        <h4>теперь доступна <a href="/auth/profile">из профиля</a> (дополнительно к <a href="/view/payment">прежним
            способам</a>).
        </h4>
            <th:block th:replace="fragment/projectFragments::payManual('Протестировать онлайн платеж')"/>
        <hr/>
        Подключена опция "Весь мир". Письмо участника (доступ ко всем материалам, приглашение в Slack и единоразовый ключ Ultimate
        IntelliJ IDEA на 6 месяцев) приходит сразу после подтверждения оплаты платежной системой (обычно от 20
        сек. до 5 мин.)
    </div>
    <div class="jumbotron">
        <h4>Переработаны почти все занятия обновленного проекта <a href="/reg/basejava">Разработка Web приложения "База
            данных резюме"</a> (от массивов до
            <a href="https://ru.wikipedia.org/wiki/CRUD" data-toggle="tooltip"
               data-original-title="Create, Read, Update, Delete -  акроним, обозначающий четыре базовые функции, используемые при работе с персистентными хранилищами данных">CRUD</a>
            веб приложения). Скоро ожидаются первые выпускники.
        </h4>
        <hr/>
        Проект идет в индивидуальном режиме (старт в любое время) по готовым материалам с поддержкой в мессенджере Slack
        и личным куратором. Все домашние задания являются частью веб проекта, их разбор идет в начале каждого занятия.
        <br/><a href="https://javawebinar.github.io/">Так будет выглядеть мое резюме</a> в разрабатываемом на этом
        проекте приложении.
    </div>
    <div class="jumbotron">
        <h4>Планируется интеграция с сервисом поиска разработчиков <a href="https://getcoder.io/">GetCoder</a>.
        </h4>
        <hr/>
        Пожалуйста, <a href="/auth/profileER">заполните у себя в профиле</a> новое поле <code>GitHub
        account</code> (или достаточно залогиниться через GitHub).<br/>
        Не забудьте указать в прфиле GitHub локацию - это важная информация для HR.<br/>
    </div>
    <div class="jumbotron">
        <h4>Группу Slack JavаOPs стала доступной всем участникам (не только выпускникам Topjava)</h4>
        В группе есть каналы помощи с Java, отзывы о работодателях, обсуждение тестовых заданий, вакансии, цены на рынке
        труда, IT события, интересные видео по теме и многое другое.
        Вступить в группу можно из <a href="/auth/profile">Личного профиля</a>. <b>Присоединяйтесь, если еще не с нами</b>!
    </div>
    <h4>Также:</h4>
    <ul>
        <li>Обновились <a href="/view/story">Истории успеха</a>. Жду твою!</li>
        <li>Пофиксил багу с потерей данных при вступлении из профиля в группу Slack <b>JavаOPs</b>. Пожалуйста, проверьте
            свои
            данные и восстановите их, если часть потерялсь. Можете обращаться ко мне за помощью в восстановлении.
        </li>
        <li>Число HR партнеров по трудоустройству (компании и индивидуальные рекрутеры), которым доступна база выпускников, достигло 125.</li>
        <li>Профиль стал еще умнее. Пофиксил баги. Обязательно сообщайте мне обо всех проблемах и предложениях по
            сайту.
        </li>
        <li>Ближе к ноябрю планирую запускать стажировку <b>Spring Boot/ Микросервисы</b>. Участникам <a href="/reg/masterjava">Masterjava</a> будет специальная скидка. Следите за новостями.
        </li>
    </ul>
    <th:block th:include="fragment/fragments::footer"/>
</div>
</body>
<th:block th:include="fragment/fragments::js-skype"/>
<th:block th:include="fragment/fragments::tooltip">
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</th:block>
</html>