<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="ru.javaops.to.AuthUser"*/-->
<!--/*@thymesVar id="payDetail" type="ru.javaops.to.PayDetail"*/-->
<head th:replace="fragment/fragments::headTag('Онлайн оплата')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav th:replace="fragment/fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container pad">
    <div class="jumbotron">
        <div class="row">
            <div class="col-9">
                <form name="TinkoffPayForm" onsubmit="pay(this); return false;">
                    <th:block th:replace="fragment/projectFragments::projectTitle(${payDetail.project.name})"/>
                    <p>
                     <h4 th:text="${payDetail.info}"></h4>
                    </p>
                    <hr/>
                    <div class="form-group">
                        <label class="col-3">Сумма</label>
                        <div style="display: flex">
                            <div class="col-2">
                                <input class="form-control" name="amount" type="number"
                                       th:value="${payDetail.calculateAmount(authUser.bonus)}"
                                       value="1450" required="required"/>
                            </div>
                            <div style="padding: 7.5px 0">RUB</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-3">E-mail</label>
                        <div class="col-6">
                            <input class="form-control" name="email" th:value="${authUser.email}" readonly="readonly"
                                   value="anna.morozova@returnonintelligence.com"/>
                        </div>
                    </div>
                    <input type="hidden" name="order" th:value="|${payId}-${authUser.id}|"/>
                    <input type="hidden" name="terminalkey" th:value="${terminalKey}"/>
                    <input type="hidden" name="frame" value="true"/>
                    <input type="hidden" name="language" value="ru"/>
                    <div class="form-group">
                        <div class="col-5">
                            <button type="submit" class="btn btn-amber">Оплатить банковской картой</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-3">
                <b>Телефон:</b> +7(921)855-0482<br/>
                <b>Skype:</b> skype:grigory.kislin<br/>
                <b>E-mail:</b> admin@javaops.ru<br/><br/>
                <p>
                    <small class="text-muted">
                        <b>ИП Кислин Григорий Ефимович</b><br/>
                        ОГРНИП: 317784700063201<br/>
                        ИНН: 782581076920<br/><br/>
                        <img src="../static/img/logo/tinkoff.png"/><br/>
                        Банк: АО "ТИНЬКОФФ БАНК"<br/>
                        Расчетный счет: 40802810900000096489<br/>
                        К/с: 30101810145250000974 <br/>
                        БИК: 044525974
                    </small>
                </p>
            </div>
        </div>
        <hr/>
        <h4><a href="/view/payment" target="_blank">Другие способы оплаты</a></h4>
        <h5><a href="http://www.finmarket.ru/currency/USD/" target="_blank">Курс рубля</a></h5>
    </div>
    <small class="text-muted">
        Сведения об эквайере: АО «Тинькофф Банк» защищает и обрабатывает данные Вашей банковской карты по стандарту
        безопасности PCI DSS.
        Передача информации в платежный шлюз происходит с применением технологии шифрования SSL. Дальнейшая передача
        информации происходит по закрытым банковским сетям, имеющим наивысший уровень надежности. АО «Тинькофф Банк»
        не передает данные Вашей карты нам и иным третьим лицам. Для дополнительной аутентификации держателя карты
        используется протокол 3D Secure.<br/>
        <a href="../static/doc/oferta.pdf">Оферта оплаты участия в обучении</a>
    </small>
</div>
<script src="https://securepay.tinkoff.ru/html/payForm/js/tinkoff.js"></script>
</body>
<th:block th:include="fragment/fragments::js-skype"/>
<th:block th:include="fragment/fragments::tooltip"/>
</html>