<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="ru.javaops.to.AuthUser"*/-->
<!--/*@thymesVar id="project" type="java.lang.String"*/-->
<head th:replace="fragment/fragments::headTag(${project}==null ? 'Редактирование профиля':'Регистрация на проект '+ ${project})">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav th:replace="fragment/fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container pad">
    <div class="jumbotron">
        <br/>
        <h2 th:text="${project}==null ? 'Редактирование профиля':'Регистрация на проект '+ ${project}">
            Редактирование профиля</h2>
        <br/>
        <form method="post" action="/auth/save">
            <div class="form-group">
                <label class="col-3">Имя Фамилия</label>
                <div class="col-6">
                    <input class="form-control" name="nameSurname" placeholder="Имя Фамилия"
                           th:value="${authUser.fullName}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-3">E-mail</label>
                <div class="col-6">
                    <input class="form-control" name="email" th:value="${authUser.email}" readonly="readonly"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-12" th:if="${project}==null">Gmail (для Google авторизации)</label>
                <label class="col-12" th:if="${project}!=null">Gmail (<b>ТРЕБУЕТСЯ для доступа к материалам проекта</b>)<br/>
                    <code>ПРОВЕРЬТЕ что имя/домен (обычно .com) корректны</code></label>
                <div class="col-6">
                    <input class="form-control" name="gmail" th:value="${authUser.gmail}" th:attrappend="required=${project != null}?required, readonly=${authUser.member}?readonly"/>
                </div>
            </div>

            <div class="form-group ">
                <label class="col-3">Skype</label>
                <div class="col-6">
                    <input class="form-control" name="skype" th:value="${authUser.skype}"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-12">Город (<b>проверьте кириллицей в списке</b>)</label>
                <div class="col-6">
                    <input class="form-control" name="location" list="location" th:value="${authUser.location}"/>
                </div>
                <datalist id="location">
                    <option>Москва</option>
                    <option>Санкт-Петербург</option>
                    <option>Киев</option>
                    <option>Минск</option>
                    <option>Харьков</option>
                    <option>Новосибирск</option>
                    <option>Днепропетровск</option>
                    <option>Одесса</option>
                    <option>Уфа</option>
                    <option>Владивосток</option>
                    <option>Краснодар</option>
                    <option>Львов</option>
                    <option>Запорожье</option>
                    <option>Самара</option>
                    <option>Нижний Новгород</option>
                    <option>Николаев</option>
                    <option>Гродно</option>
                    <option>Казань</option>
                    <option>Караганда</option>
                    <option>Гомель</option>
                    <option>Пермь</option>
                    <option>Рига</option>
                    <option>Алматы</option>
                    <option>Днепр</option>
                    <option>Саратов</option>
                    <option>Астана</option>
                    <option>Los Angeles</option>
                    <option>Екатеринбург</option>
                    <option>Ростов-на-дону</option>
                    <option>Херсон</option>
                    <option>Воронеж</option>
                    <option>Ижевск</option>
                </datalist>
            </div>

            <div class="form-group">
                <label class="col-12" style="color: darkred">Заполните пожалуйста:<br/><b>откуда узнали о проекте (проверьте в списке)</b></label>
                <div class="col-6">
                    <input class="form-control" name="infoSource" list="infoSource" th:value="${authUser.infoSource}"/>
                </div>
                <datalist id="infoSource">
                    <option>ВКонтакте</option>
                    <option>VK</option>
                    <option>JavaRush</option>
                    <option>Google</option>
                    <option>Гугл</option>
                    <option>Habrahabr</option>
                    <option>Друзья</option>
                    <option>Yandex</option>
                    <option>Яндекс</option>
                    <option>LinkedIn</option>
                    <option>Youtube</option>
                    <option>Facebook</option>
                    <option>GitHub</option>
                    <option>HeadHunter</option>
                    <option>E-mail</option>
                    <option>Toster.ru</option>
                </datalist>
            </div>

            <div class="form-group">
                <label class="col-12"  style="color: darkred">GitHub account</label>
                <div class="col-6">
                    <input class="form-control" name="github" type="url" th:value="${authUser.github}"/>
                </div>
            </div>

            <div class="form-group ">
                <label class="col-12">Место работы</label>
                <div class="col-6">
                    <input class="form-control" name="company" th:value="${authUser.company}"/>
                </div>
                <th:block th:if="${authUser.member}">
                    <div class="checkbox col-12">
                        <label><input th:checked="${authUser.underRecruitment}" type="checkbox"
                                      name="underRecruitment"/>
                            На работе готовы трудоустроить наших лучших выпускников
                        </label>
                    </div>
                    <div class="checkbox col-12">
                        <label><input th:checked="${authUser.jobThroughTopjava}" type="checkbox"
                                      name="jobThroughTopjava"/>
                            Получил работу благодаря стажировке Java Online Projects
                        </label>
                    </div>
                </th:block>
            </div>

            <th:block th:if="${authUser.member}">
                <div class="form-group">
                    <label class="col-12">Ссылка на резюме</label>
                    <div class="col-6">
                        <input class="form-control" name="resumeUrl" type="url" th:value="${authUser.resumeUrl}"/>
                    </div>

                    <div class="checkbox col-10">
                        <label><input th:checked="${authUser.considerJobOffers}" type="checkbox"
                                      id="considerJobOffers" name="considerJobOffers"
                                      onclick="handleRelocation()"/>
                            Рассматриваю предложения о работе
                        </label>
                    </div>

                    <div class="checkbox col-10" id="relocationCheck">
                        <label>
                            <input th:checked="${authUser.relocationReady}" type="checkbox"
                                   id="relocationReady" name="relocationReady" onclick="handleRelocation()"/>
                            Рассматриваю релокацию
                        </label>
                    </div>
                </div>
                <div class="form-group" id="relocation">
                    <label class="col-12">Выбрать несколько через Ctrl:</label>
                    <div class="col-6">
                        <select multiple="multiple" class="form-control" name="relocation" size="9"
                                th:with="places = ${ {'Россия', 'Москва', 'Санкт-Петербург','Украина','Киев','Беларусь','Минск','Казахстнан','Европа','Польша','Другое'} }">
                            <option th:each="place : ${places}" th:value="${place}" th:text="${place}"
                                    th:selected="${authUser.relocation!=null and authUser.relocation.contains(place)}"/>
                        </select>
                    </div>
                </div>
            </th:block>
            <div class="form-group">
                <label class="col-12" th:text="${authUser.member} ?
                'Информация для HR (по ней будут решать, стоит ли смотреть в резюме). Не пиши сюда Junior!':'Информация обо мне'"></label>
                <div class="col-10">
                        <textarea class="form-control " name="aboutMe" rows="5"
                                  th:utext="${authUser.aboutMe}"></textarea>
                </div>
            </div>
            <div th:if="${authUser.member}" class="checkbox col-10">
                <label><input th:checked="${authUser.statsAgree}" type="checkbox" name="statsAgree"/>
                    Согласен на размещением своих данных в закрытой статистике группы
                </label>
            </div>
            <div th:if="${authUser.partner}" class="form-group">
                <div class="checkbox col-12">
                    <label class="larg"><input th:checked="${authUser.partnerCandidateNotify}"
                                               type="checkbox"
                                               name="partnerCandidateNotify"/>
                        <b>Оповещать о новом резюме в базе</b>
                    </label>
                </div>
                <div class="checkbox col-12">
                    <label><input th:checked="${authUser.partnerCorporateStudy}" type="checkbox"
                                  name="partnerCorporateStudy"/>
                        <b>Интересует корпоративное обучение/стажировка</b>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-10">
                    <button type="submit" class="btn btn-primary"
                            th:text="${project}==null ? 'Сохранить':'Зарегистрироваться'">Сохранить
                    </button>
                </div>
            </div>
            <input type="hidden" name="id" th:value="${authUser.id}"/>
            <input th:if="${project}!=null" type="hidden" name="project" th:value="${project}"/>
        </form>
    </div>
</div>
</body>
<th:block th:include="fragment/fragments::js-skype"/>
<script type="application/javascript">
    $(function () {
        handleRelocation();
    });
    function handleRelocation() {
        if ($("#considerJobOffers").is(':checked')) {
            $("#relocationCheck").show();
            if ($("#relocationReady").is(':checked')) {
                $("#relocation").show();
            } else {
                $("#relocation").hide();
            }
        } else {
            $("#relocationCheck").hide();
            $("#relocation").hide();
        }
    }
</script>
</html>