<html xmlns:th="http://www.thymeleaf.org">

<h4 th:fragment="basejava_title">
    <a data-toggle="tooltip"
       data-original-title="Начальный уровень: от массивов до CRUD веб приложения"
       data-placement="right">
        <img src="../static/img/kettle-48.png"/></a> <a href="#basejava" data-toggle="collapse">&nbsp;Разработка Web
    приложения "База данных резюме"</a>
</h4>
<th:block th:fragment="basejava">
    Разработка веб приложение с первого занятия. Объектная
    модель, коллекции, система ввода-вывода, работа с файлами, сериализация, работа с XML, JSON, SQL,
    персистентность в базу данных (PostgreSQL), сервлеты, JSP/JSTL, веб-контейнер Tomcat, HTML,
    модульные тесты JUnit, java.util.Logging, система контроля версий Git.
</th:block>

<h4 th:fragment="topjava_title">
    <a data-toggle="tooltip"
       data-original-title="Средний уровень: от CRUD веб приложения до многоуровневого Spring/ Security/ JPA приложения"
       data-placement="right"><img src="../static/img/middle-48.png"/></a>
    <a href="#topjava" data-toggle="collapse">&nbsp;Стажировка Java Enterprise</a>
</h4>
<th:block th:fragment="topjava">
    Разработка <b>Spring/JPA Enterprise приложения</b> c авторизацией и правами доступа на
    основе ролей с использованием наиболее популярных инструментов и технологий Java: Maven, Spring MVC,
    Security, JPA(Hibernate), REST(Jackson), Bootstrap (css,js), datatables, jQuery + plugins, Java 8
    Stream and Time API и сохранением в базах данных Postgresql и HSQLDB.
</th:block>

<h4 th:fragment="masterjava_title">
    <a data-toggle="tooltip"
       data-original-title="Эксперт: Многопоточность JAXB/StAX, JAX-WS/SOAP, JAX-RS, JMS, AKKA, Guava, JMH, Lombook, ..."
       data-placement="right"><img src="../static/img/guru-48.png"/></a> <a href="#masterjava" data-toggle="collapse">
    Многомодульный maven. Многопоточность. XML. Веб
    сервисы. Удаленное взаимодействие</a>
</h4>
<th:block th:fragment="masterjava">
    Разработка полнофункционального многомодульного Maven проекта, состоящего из 3-х веб приложений.
</th:block>

</html>