<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::headTag('Наши истории')">
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/css/mdb.css"/>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<nav th:replace="fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bg">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container pad">
    <div class="jumbotron">
        <ul>
            <li><h4>
                <a href="#interview" data-toggle="collapse">Из кнала <i>#interview</i> группы выпускников Slack</a>
            </h4>
            </li>
            <li><h4>
                <a href="#employer" data-toggle="collapse">Отзывы работодателей</a>
            </h4></li>
            <li><h4>
                <a href="https://vk.com/topic-74381644_30447246" target="_blank">Отзывы участников стажировки Java
                    Enterprise</a>
            </h4></li>
        </ul>
        <div id="interview" class="collapse text-muted">
            <hr/>
            <blockquote>
                Всем привет! сходил на первое собеседование на вакансию Junior Java Developer, на следующий день
                получил
                офер)
                Теперь дорабатываю 2 недели на старом месте и выхожу на работу. Зарплата полностью белая, 60 тыс.
                рублей
                к
                начислению. Если интересно, напишу подробнее, как проходило собеседование, что спрашивали и т.д.
                Пока
                даже с
                трудом верится что такое возможно, теперь думаю где может быть подвох:)
                <br/>
                Компания работает с гос. заказчиками, в штате примерно 120 человек. У них сейчас несколько крупных
                проектов, на
                каждый отдельная команда. В какой конкретно проект я попаду, пока не известно, сказали определят
                ближе к
                дате
                выхода. Собеседовала меня как обычно сначала HR, задавала общие вопросы, спрашивала что за
                организация
                Java
                Online Projects, и официально ли я там работаю. Я честно сказал что это стажировка, и описал вкратце
                как
                у нас
                происходит разработка:) Спрашивала почему решил сменить сферу деятельности и т.д. Потом пришёл
                руководитель
                одного из проектов, в команду к которому я скорее всего попаду, Он спрашивал в основном в общем, на
                понимание
                предметной области: с какими технологиями я знаком, какие для чего применял и т.д. Поспрашивал
                немного
                про
                микросервисную архитектуру. Сказал что ему в целом всё понятно, и сейчас позовёт тимлида, чтобы
                проверить мои
                технические навыки. Пришёл тимлид, и тоже сначала поспрашивал по технологиям в целом, потом начал
                задавать более
                детальные вопросы по некоторым технологиям.
                <br/>
                Из тех что запомнил: по мавену - как добавлять зависимости, для чего нужны плагины. По спрингу - как
                конфигурируется спринг, какие бывают бины, как сделать бин не синглетоном. Довольно много спрашивал
                про
                Hibernate - какие бывают аннотации, связи, так же дал небольшую задачу на N+1 select. Потом задал
                буквально пару
                вопросов по Java Core - какие бывают коллекции, какие бывают сортированные мапы, что такое Hash. Вот
                с
                хэшем я
                немного затупил, не смог ответить почему в HashMap в качестве ключа можно добавить объекты с
                одинаковым
                хэшем.
                Тут тимлида позвали на какое-то важное совещание, и он закончил собеседование, сказав что по
                результатам
                мне
                сообщат. Я был уверен что меня не возьмут из-за неправильного ответа про хэш, и не очень чётких
                ответов
                по
                спринг бинам. Но на следующий день HR связалась со мной и прислала офер:)
            </blockquote>
            <hr/>
            <blockquote>
                Господа, как и обещал - рассказываю про собеседование в ....<br/>
                Было лайтово, не так страшно как я себе это представлял. Был всего один человек - ведущий разработчик.
                Интервью я завалил по полной как мне казалось. Вопросов вышло всего немного, потому что я дико нервничал
                и
                он прервал интервью видя мое состояние и предложил рассказать про контору. Вопросы были примерно такие:
                <ol>
                    <li>SQL, нарисовал таблички, связь один ко многим, попросил написать запрос с использованием
                        объединения
                        двух таблиц, с GROUP BY и суммированием.
                    </li>
                    <li>Спросил про стримы, написал код небольшой и надо было сказать что будет в результате стрима.
                        Было
                        что то
                        такое -коллекция, ее фильтровал, преобразовывал, что-то еще и в конце фор ич в котором он
                        пытался
                        удалить элемент коллекции. Тут я затупил, забыл что нельзя на лету удалять элементы, будет
                        экспешн.
                        Надо
                        было сказать какой и почему.
                    </li>
                    <li>Про спринг вопрос - как его можно сконфигурировать, какие существуют способы. Потом написал пару
                        классов, у которых был общий наследник и попытался по этому наследнику заинжектить бин
                        Autowired(ом).
                        Спросил какой из классов заинжектится. Когда сказал что будет конфликт, как избавиться от такого
                        конфликта.
                    </li>
                </ol>
                В общем поговорили о тестировании, JUnit(е), базах данных, хибернейте...
                Ни одного вопроса по языку у меня не было, все по фреймворкам, я такого совершенно не ожидал, потому как
                повторял в основном core и думал что начнут с него.
                Дальше он рассказывал про контору, а я спрашивал что мне интересно. Я ни на один вопрос на сто процентов
                правильно не ответил. Я представил как это выглядело, как я нервничал, это было ужасно. У меня не было
                сомнений
                что это провал. Но вчера мне позвонили оттуда и сказали что будут рады видеть в команде. Сегодня жду
                офера
                на
                почте.
            </blockquote>
            <hr/>
            <blockquote>
                Ну что, друзья, я таки получил оффер, в одной компании из г.Запорожье. Теперь главная задача подхватить
                и
                потащить, чтобы по истечении испытательного зацепиться. Сказать что рад - ничего не сказать. Всем
                спасибо,
                Григорий, с меня сакцесс стори как испытательный пройду.
            </blockquote>
        </div>

        <div id="employer" class="collapse text-muted">
            <blockquote>
                <hr/>
                Григорий, здравствуйте!<br/>
                У Вас замечательная школа, сотрудники, которые пришли к нам после стажировки в Java Online Projects
                легко справляются со своими обязанностями.<br/>
                Благодарим за сотрудничество!<br/>
                Если кого - то из Ваших выпускников заинтересуют другие вакансии нашей компании, они на сайте компании
                <a href="http://protei.ru/company/vacancies/"><img src="http://protei.ru/images/Logo_Protei_2016.png"
                                                                   style="width: 154px; height: 40px;"></a>
            </blockquote>
        </div>
    </div>
    <div class="jumbotron">
        <h1 class="blog-post-title">Наши истории</h1>
        <hr/>
        <h3><a href="/view/story/story10">Из биологов в программисты за год</a></h3>
        <p>Александр Королев, 17/02/2017</p>

        <h3><a href="/view/story/story9">Путь к Java Developer.</a></h3>
        <p> Иван, 05/02/2017</p>

        <h3><a href="/view/story/story8">История трудоустройства.</a></h3>
        <p> Тимур Муратов, 07/01/2017</p>

        <h3><a href="/view/story/story7">ИТ-область – это эскалатор, движущийся вниз. Если вы хотите развиваться, то
            нужно
            постоянно двигаться вверх.</a></h3>
        <p> Королёв Дмитрий, 13/04/2016</p>

        <h3><a href="/view/story/story6">Как я стал Java-разработчиком.</a></h3>
        <p>Максим, 28/03/2016</p>

        <h3><a href="/view/story/story5">Главное - верить в свои силы.</a></h3>
        <p>Лев Хачересьянц, 16/03/2016</p>

        <h3><a href="/view/story/story4">Жизнь — как вождение велосипеда. Чтобы сохранить равновесие, ты должен
            двигаться.</a></h3>
        <p>Кислин Григорий, 16/03/2016</p>

        <h3><a href="/view/story/story3">История успеха длиной в год</a></h3>
        <p>AlexandrRS, 09/03/2016</p>

        <h3><a href="/view/story/story2">Разработка ПО – это тяжелый, но благодарный труд</a></h3>
        <p>Григорий Н., 08/03/2016</p>

        <h3><a href="/view/story/story1">Каждое утро я просыпался с мыслью: "Как мне написать приложение?"</a></h3>
        <p>Иван Виноградов, 04/03/2016</p>
        <hr/>
    </div>
    <th:block th:include="fragments::footer"/>
</div>
</body>
<th:block th:include="fragments::js-skype">
    <script type="text/javascript" src="../static/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../static/js/tether.min.js"></script>
    <!-- https://mdbootstrap.com/getting-started/ -->
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../static/js/mdb.min.js"></script>
</th:block>
</html>