<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="payNotify" type="ru.javaops.payment.PayNotify"*/-->
<head th:replace="fragment/fragments::headTag('Ошибка платежа')">
    <link rel="stylesheet" href="../../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../static/css/mdb.css"/>
    <link rel="stylesheet" href="../../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
</head>
<body>
<nav th:replace="fragment/fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container box">
    <div class="jumbotron">
        <h2>Ошибка при обработке платежа</h2>
        <h3>[[${payNotify.message}]]</h3>
        <h4>Если вы произвели оплату, пожалуйста свяжитесть со мной</h4>
        <th:block th:include="fragment/fragments::contacts"/>
    </div>
</div>
</body>
<th:block th:include="fragment/fragments::js-skype"/>
</html>