<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Участие в стажировке 'Java Enterprise (TopJava)'</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
<h3>Поздравляю тебя с участием в стажировке <a href="https://github.com/JavaOPs/topjava">Java Enterprise (Topjava)!</a></h3>
<i>Разработка полнофункционального Spring/JPA Enterprise приложения c авторизацией и правами доступа на основе ролей с использованием наиболее популярных инструментов и технологий Java: Maven, Spring MVC, Security, JPA(Hibernate), REST(Jackson), Bootstrap (css,js), datatables, jQuery + plugins, Java 8 Stream and Time API и сохранением в базах данных Postgresql и HSQLDB.</i>
<p>
Общение на проекте предлагаю на "ты". Проект ведется по подготовленным на основе вебинара, разбитым по темам и
отредактированым записям. Раз в неделю
(четверг) производится рассылка новых материалов, обновления к проекту (патчи) и домашние задания. Все домашние
задания являются чаcтью проекта, подобранны по темам занятий и требуют реализации функциональности, схожей с
пройденной на занятии.
</p>
<h4><a href="https://github.com/JavaOPs/topjava/blob/master/description.md">Описание и план проекта</a><br/>
    <a href="http://topjava.herokuapp.com/login">Демо разрабатываемого приложения</a></h4>
<h4>Заполнение регистрационной формы</h4>
Общение на проекте будет вестись в группе <a href="http://topjava12.slack.com">Slack</a>. <b>Заполни пожалуйста все поля
    <a
            th:href="@{http://javaops.ru/participate(email=${user.email}, key=${activationKey}, project='topjava')}"
            href="#">регистрационной формы</a></b>. После ее сохранения
<ul>
    <li>на почту придет приглашение в группу (обычно в течении 5 мин, проверь папку спам)</li>
    <li>по gmail аккаунту предоставится доступ к материалам. Если <b><a
            href="https://drive.google.com/open?id=0B9Ye2auQ_NsFdlNLcklmV3Yxemc">
        картинка по ссылке закрыта</a></b>, по порядку:
        <ul>
            <li>выйти-войти в gmail аккаунт, который ты указал в форме регистрации</li>
            <li>попробовать войти в анонимной вкладке</li>
            <li><b>Внимание!! НЕ НАДО запрашивать доступ через Google Drive (он дается автоматически по заполнению
                формы)</b></li>
            <li>если доступа нет, напиши мне в skype <i>grigory.kislin</i> или в <a
                    href="https://topjava12.slack.com/messages/@grigory.kislin/">личку в группы Slack</a></li>
        </ul>
    </li>
</ul>
Общение в Slack происходит в каналах по темам, для каждого нового занятия будет делаться отдельный канал. Обсуждение вступительного занятия происходит в канале Slack <a
        href="https://topjava12.slack.com/messages/hw0/">#hw0</a>.<br/>
<th:block th:include="mailFragments::Slack('topjava12')"/>
<h4>Вводное занятие</h4>
До старта проекта 26.10 приступай <b>к освоению <a href="https://github.com/JavaOPs/topjava#Вводное-занятие">вводного
    занятия</a></b>: установка проекта и работа с системой управления версиями git и <a href="https://github.com/">GitHub</a>.
Перед выполнением домашнего задания <b>обязательно посмотри все видео занятия</b> и следуй
инструкциям. Особое внимание обращаю на <b><a href="https://github.com/JavaOPs/topjava/wiki/Git">Wiki по ведению
    проекта в Git</a>, необходимо строго следовать этим правилам!</b>.
<h4>Рассылка первого урока занятия будет 02.11</h4>
<h4>Проверка домашних заданий</h4>
Разбор домашний заданий происходит в начале каждого занятия.<br/>
Если у тебя участие с проверкой ДЗ, то свое решение вступительного задания нужно присылать на проверку начиная c
26.10 до вечера 31.10, остальных домашних заданий - до вечера вторника.
<p>
    Проверка заданий подразумевает ревью твоего кода (лучше ДЗ присылать пораньше, чтобы успеть поправить ошибки и
    сделать еще одно ревью). Ты увидишь именно свои ошибки в стиле, структурах данных,
    алгоритмах и кодировании. <b>Это самый эффективный способ научиться программировать</b>. Все домашние задания
    это часть проекта. Часть из них достаточно простая, часть Optional - сложнее. Обычно участники чекинят код в
    гитхаб и шлют ссылку на репозиторий. Проверка заданий делается ассистентом Татьяной при моей поддержке, результат проверки
    пишется в slack. Получается эффективно и
    оперативно. Можно что-то переделать и снова поревьюится.<br/>
</p>
<th:block th:include="mailFragments::IDEA"/>
<h4>Пожелания к участникам.</h4>
Обычно участники подбираются с разным уровнем. Поэтому главное- не стеснятся задавать вопросы! Всегда есть поддержка
группы, меня и ассистента Татьяны. Проходят занятия раз в неделю, поэтому времени для усвоения пройденного и выполнения домашних
заданий достаточно, при условии что вы НЕ ОТКЛАДЫВАЕТЕ обучение на потом. В зависимости от уровня подготовки на обучение
необходимо уделять от 5 до 15 часов в неделю. Для усвоения материала ВЫПОЛНЯТЬ ДОМАШНИЕ ЗАДАНИЯ НЕОБХОДИМО: после
лекции, через месяц у студента в голове остаётся 3% знаний. А если он выполнил упражнение на практике то в памяти
сохраняется 95% знаний + бонус. Студент, практикуя упражнение, открывает ещё 50% нюансов знаний, которые не были
озвучены преподавателем. Для всех участников: БЕСПЛАТНОЕ участие в следующий выпусках проекта Topjava (ближе к концу стажировки я вышлю
ссылку).
<h4>Ресурсы</h4>
Основы JavaSсript необходимы для понимания проекта, начиная с 8-го занятия. Рекомендую также изучить <a
        href="https://github.com/JavaOPs/topjava#Ресурсы-для-подготовки-к-проекту">полезные ресурсы</a>.
<ul>
    <li><a href="https://github.com/JavaOPs/topjava/wiki">Wiki по проекту</a></li>
    <li><a href="https://github.com/JavaOPs/topjava/wiki/Git">Wiki по GIT</a></li>
    <li><a href="https://github.com/JavaOPs/topjava/wiki/Maven">Wiki по Maven</a></li>
    <li><a href="https://github.com/JavaOPs/topjava/wiki/IDEA">Wiki по IDEA</a></li>
</ul>
<p th:include="mailFragments::lessonFooter">
</p>
</html>