<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/fragments::headTag('История')">
    <link rel="stylesheet" href="../../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../static/css/mdb.css"/>
    <link rel="stylesheet" href="../../css/style.css"/>
</head>
<body>
<nav th:replace="fragment/fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand">Java Online Projects</a>
    </div>
</nav>
<div class="container pad">
    <h1>История успеха</h1>
    <p>
        Всем привет! Как и у многих бывает, пишу сюда с опозданием, долго не доходили руки...кто проходил - поймут о чем
        я и да простит меня Григорий! :)
        Итак, здесь принято делиться своими историями и вот моя:
    </p>
    <p>
        На данный момент мне 27 лет и я уже 2а месяца как работаю java-разработчиком! Все началось в сентябре 2015 года,
        когда я, человек никогда не занимавшийся программированием и не испытывавший к этому занятию ровным счетом
        никакого тяготения, внезапно осознал, что именно этим я должен заниматься. Смешно? Еще бы!
        Знаете, как это бывает - когда не хочешь что-то знать, ты это и не узнаешь; нет желания разобраться - не
        разберешься. Вот и я почему-то никогда не хотел, всю свою жизнь был уверен, что никогда не буду этим заниматься,
        поэтому даже разбираться желания не было. Хотя, надо признать, что это довольно странно - у меня высшее
        техническое образование в области радиоэлектроники, с математикой и физикой все было хорошо...не дурак вроде,
        просто не хотел.
    </p>
    <p>
        Начал я с Си, и читая книгу Кернига и Ритчи, осознал, что вроде все понятно и нет здесь никакой магии или супер
        сложных необъяснимых вещей, как мне всегда казалось в школе и в институте. Изучив самые азы, я решил
        проанализировать рынок труда и посмотреть что сейчас вообще популярно. В результате, я остановился на android
        разработке и скачав android studio, быстро пришел к выводу, что там нужна какая-то магическая "java". Абсолютно
        не понимая, что меня ждет, движимый каким-то высшим интуитивным чувством, я начинаю изучать этот магический язык
        на портале JavaRush, на который вышел через google, в процессе поиска каких-либо курсов или институтов по
        данному языку. Практически сразу понял, что нашел, без преуменьшения, какой-то клад!) Мне было все интересно и
        первое время я сидел ночами напролет, погружаясь в новый мир. Чем дальше продвигалось дело, тем больше я
        осознавал насколько это огромный мир и уже и не вспоминал про Android-разработку. Оплачивал все сразу, под новый
        год, вместе со стажировкой(тогда кажется были скидки), потому как был абсолютно уверен в правильности выбора и
        что смогу довести дело до конца.
    </p>
    <p>
        Год спустя, дойдя до 35ого lvl(а), решил, что пора бы двигаться дальше - взял тестовое задание на стажировку и
        приступил к изучению материалов. Это был ад! после JavaRush(а), где все разжевывалось(а пока сидишь там, так
        совершенно не кажется) было очень тяжело. Тупил я очень долго, на выполнение тестового задания ушла не неделя, а
        два месяца. Пока Spring почитал, пока с БД, maven(ом), Hibernate(ом) и т.д. поразбирался, чуть с ума не сошел,
        ведь для меня все было в новинку! Но кое-как сделал и попал на проект. К слову, мне довольно сильно это помогло,
        это я почувствовал уже в процессе... На проекте пришло осознание, что все чем я занимался предыдущий год -
        ничтожно и нафиг никому не нужно :D
        JavaRush - это супер сервис по постановке базы и мотивации для людей, начинающих изучение языка с нуля (таких
        каким был я), они "ставят" тебя на правильные рельсы, но дальше все только начинается....
    </p>
    <p>
        К слову, проект до конца я так и не закончил, остановился где-то на 2/3 пути, но и этого оказалось достаточно!
        По совету Григория решил написать резюме и попробовать свои силы на собеседовании. Каково же было мое удивление,
        когда в первый же день меня пригласили сразу в 4е места! Я решил сходить в одно из них и получил офер! Желание
        сменить работу было уже давно сильно велико и, решив что второй раз так повезти не может, согласился не
        раздумывая! Вопросов было немного, совсем не то, к чему я готовился, особенно после страшилок о том, что бывает
        на собеседованиях). У всех все по-разному... да и проработав пару месяцев, я начинаю осознавать, что
        немаловажную
        роль играют не только твои знания, но человеческие качества и адекватность, т.к. научить человека, который
        тянется к знаниям и хочет учиться - не проблема, но вот перевоспитывать тебя, если ты .... - никто не
        будет. В общем, что тут скажешь, мне повезло: проект новый, большой и интересный, начальство крайне адекватное и
        дружелюбное, команда тоже!
    </p>
    <p>
        <b>Я выражаю большую благодарность и признательность Кислину Григорю за его
            стажировку!</b> В современном мире никто не примет тебя на работу с одним лишь знанием JavaCore. А проект
        тщательно выверен и
        построен таким образом, что в нем работаешь только с самыми востребованными фреймворками, которые используются
        практически везде,с которыми ваше резюме заметят и позовут вас на собеседование. Григорий основал community
        высокого уровня! Начиная с общения в slack(е) участников проекта, где все заинтересованы в получении новых
        знаний, заканчивая группой выпускников, где народ общается, выкладывает вакансии, можно обсудить технические
        вопросы. Хорошо, что есть помощь с трудоустройством: рассылка резюме участников проекта проверенным hr(ам) (мне
        правда не
        пригодилась, но считаю это большим плюсом!)
        Проект многогранен и будет интересен разработчикам разного уровня. Если только планируете стать джуном, то
        приготовьтесь к тому, что от переполнения информацией будете в буквальном смысле захлебываться и будет большой
        успех, если усвоите процентов 60 инфы) Более опытным разработчикам тоже скучно не будет.
        В целом, как сейчас говорят - must have! Всем рекомендую!
        Сам я планирую пройти данный проект еще раз, может через год, уже более осознанно. Думаю это будет полезно!
    </p>
    <p>
        Всем, кто сейчас только на пути к первому трудоустройству и читает мою историю - желаю не сбиваться с пути, не
        сомневаться в себе и своих силах - все получится! Удачи!
    </p>
    <hr/>
    Александр Кузнецов, 04/09/2017
    <h4><a href="/view/story">К списку историй</a></h4>
    <th:block th:include="fragment/fragments::footer"/>
</div>
</body>
<th:block th:include="fragment/fragments::js-skype"/>
<th:block th:include="fragment/fragments::tooltip"/>
</html>