<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Информация по проекту Topjava</title>
</head>
<body>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!
</p>
<p>
    Как уже писал ранее в письме с шестым занятием и в группе Slack, на достаточно большое HW6 выделено 2 недели (также
    время подтянуть хвосты и заняться выпускным проектом).
    Урок 7 (или его часть) я выложу 28-29 августа (понедельник-вторник), т.к. 30 и 31 буду недоступен. Переходить к
    уроку рекомендую только после выполнения HW6.
</p>
<p>
    Также, если еще не присоединился к группе Slack выпускников, время это сделать: <a
        th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">в твоем профиле</a> есть
    соответствующая кнопка.
    Приглашаю в общие каналы по отзывам о работодателях, вакансиях, тестовых заданиях, помощи и пр.
</p>
<p th:include="mailFragments::generalFooter">
</p>
</body>
</html>