<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Новые опции Java Online Projects (база кандидатов Java разработчиков)</title>
</head>
<p th:text="|Здравствуйте ${user.firstName}!|">
</p>
<p>
    Рад сообщить, что при поднятом флаге <i>Оповещать о новом резюме в базе</i>, доступном при <b>редактировании</b> <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}" href="">Вашего профиля</a>,
    при добавлении нового резюме теперь Вам будет приходить письмо с ссылкой на резюме и информацией о кандидате.
</p>
<p>
Также планирую на <a href="http://javaops.ru">Сайте обучения</a> создать раздел "Партнеры по трудоустройству" c логотипом Вашей компании
    (предлагаю сделать ее как ссылку на текущие вакансии компании).
</p>
Опиции бесплатные, поднимайте флажок и высылайте мне логотип компании и ссылку на текущие вакансии.<br/>
Спасибо за сотрудничество!
<th:block th:include="mailFragments::simpleFooter"/>
</html>