<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>База кандидатов на позицию Java разработчик</title>
</head>
<p th:text="|Здравствуйте ${user.firstName}!|"></p>
<p>
    Предлагаю Вам к рассмотрению <b><a th:href="@{http://javaops.ru/sql(sql_key=_job_wanted_, csv=true, partnerKey=${user.email})}" href="">кандидатов на позицию Java разработчик</a></b>.
    Список в основном состоит из выпускников стажировок "<a href="https://github.com/JavaOPs/topjava/blob/master/README.md">Java Enterprise (Topjava)</a>: Maven/ Spring MVC/ Spring Security/ JPA(Hibernate)/ REST(Jackson)/ Bootstrap(CSS)/ jQuery + plugins" и
    "<a href="https://github.com/JavaOPs/masterjava/blob/master/README.md">Многомодульный maven/ Многопоточность/ XML/ Веб сервисы/ Удаленное взаимодействие (Masterjava)</a>".
Уровень знаний и опыт работы соискателей разный (в основном без опыта коммерческой разработки), но все выпускники имеют практический опыт работы с перечисленными технологиями и готовы сразу же влиться в проект и приносить компании прибыль.<br/>
    Сверху списка есть фильтрация (например можно отфильтровать город) и есть опция экспорта выделенных кандидатов в формат csv.
    По клику на имени открывается окно с расширенной информацией. Надеюсь, что Вы найдете себе подходящих перспективных разработчиков! (можно ссылаться на меня)
</p>
Также появилась возможность <b><a href="" th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">из
    своего профиля</a></b> выбирать кандидатов,
добавивших резюме с определенной даты (выбор даты и ссылка на базу снизу профиля). Вы можете заполнить пустые
поля профиля для лучшего сотрудничества.
<p>
    Возможно Вас заинтересует реферальная программа (заранее извиняюсь, если нет).
    На каждую регистрацию (получение первого бесплатного занятия) по реферальным ссылкам Вам будет приходить
    уведомительное письмо а при оплате добавляться бонусы, которые можно будет перевести в деньги (подробности по
    запросу).
</p>
Если у Вас есть коллеги, которые заинтересованы в бесплатном доступе к списку кандидатов и получении по почте его обновлений, пожалуйста, пришлите мне их почту, или пусть свяжутся со мной по этому email
(<a href="mailto:admin@javaops.ru">admin@javaops.ru</a>).
<p>
    С надеждой на долговременное выгодное сотрудничество,
</p>
<p th:include="mailFragments::footer">
</p>
</html>