<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header (user)">
    <p th:text="|Здравствуй ${user.firstName}!|"></p>
</div>

<div th:fragment="footer">
    <p>
        <span>С лучшими пожеланиями,</span><br/>
        Григорий Кислин<br/>
        <em>skype: grigory.kislin</em>
    </p>
    <p>
        <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">Личный профиль</a><br/>
        <a href="http://javaops.ru">Java Online Projects</a><br/>
        <a href="https://vk.com/javawebinar">vk: Java Enterprise Online Projects</a> (все самое интересное из мира Java
        и IT)
    </p>
    <p style="font-size: small">
        <a th:href="${subscriptionUrl}">Отписаться от рассылки</a><br/>
    </p>
</div>

<div th:fragment="lessonFooter">
    <p>
        <span>Удачи в освоении материалов и выполнении задания,</span><br/>
        Григорий Кислин<br/>
        <em>skype: grigory.kislin</em>
    </p>
    <p>
        <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">Личный профиль</a><br/>
        <a href="http://javaops.ru">Java Online Projects</a><br/>
        <a href="https://vk.com/javawebinar">vk: Java Enterprise Online Projects</a> (все самое интересное из мира Java
        и IT)
    </p>
</div>
<div th:fragment="generalFooter">
    <p>
        <span>С лучшими пожеланиями,</span><br/>
        Григорий Кислин<br/>
        <em>skype: grigory.kislin</em>
    </p>
    <p>
        <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">Личный профиль</a><br/>
        <a href="http://javaops.ru">Java Online Projects</a><br/>
        <a href="https://vk.com/javawebinar">vk: Java Enterprise Online Projects</a> (все самое интересное из мира Java
        и IT)
    </p>
</div>
<div th:fragment="simpleFooter">
    <p>
        <span>С лучшими пожеланиями,</span><br/>
        Григорий Кислин<br/>
        <em>skype: grigory.kislin</em><br/>
        <a href="http://javaops.ru">Java Online Projects</a>
    </p>
    <p style="font-size: small">
        <a th:href="${subscriptionUrl}">Отписаться от рассылки</a><br/>
    </p>
</div>
<div th:fragment="bonus">
    <p style="font-size: small">
    <ul>На бонусы можно
        <li>получить скидку на любой из текущих проектов (<a
                href="http://javaops.ru/reg/masterjava?ch=mail">Masterjava</a>,
            <a href="http://javaops.ru/reg/basejava?ch=mail">Basejava</a>, <a
                    href="http://javaops.ru/reg/topjava?ch=mail">Topjava</a>), 1 бонус = 1% скидки (скидка не
            распространяется на проверку ДЗ)
        </li>
        <li>получить скидку на будущие проекты. В конце лета планирую дополнения к Topjava (Java Config, Thymleaf, H2,
            Bean Mapping, Ouath2, JWT, Nginx, Spring Boot, ...).
        </li>
        <li>накопив от 100 бонусов получить комиссию деньгами (100 бонусов = 10 000 руб./ 165$)</li>
    </ul>
    Личная реферальные ссылка на сайт: <b>[[${javaopsRef}]]</b>
</div>

<div th:fragment="prepaid">
    <h4>До начала занятий нужно оплатить оставшуюся часть:</h4>
    <ul>
        <li th:each="entry: ${postpaidDetails.entrySet()}">[[${T(ru.javaops.payment.PayUtil).getInfo(entry.key)}]]: <b>[[${entry.value}]]</b>
            RUB
        </li>
    </ul>
    Способы оплаты:
    <ul>
        <li>Онлайн <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">из личного
            профиля</a></li>
        <li><a href="http://javaops.ru/view/payment">Другие варианты оплаты</a></li>
    </ul>
    Обязательно подтвердить оплату в skype <b>grigory.kislin</b> (email, проект, куда отправлен платеж) или ответом на
    это письмо. После оплаты сразу выдаю доступ ко всем материалам проекта, включаю в группу Slack и выдаю ключ Ultimate
    IntelliJ IDEA на 6 месяцев (согласно политике JetBrains выдается только один раз).
</div>

<div th:fragment="payment(project)">
    <li><a th:href="@{http://javaops.ru/reg/__${project}__#price}">Стоимость участия</a></li>
    <li>Оплатить участие теперь можно прямо из <a href=""
                                                  th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">личного
        профиля</a> либо
        <a href="http://javaops.ru/view/payment">любым другим удобным способом</a>
        <br/>
        При оплате из личного профиля письмо участника (доступ ко всем материалам, приглашение в Slack и единоразовый
        ключ Ultimate IntelliJ IDEA на 6 месяцев) приходит сразу после подтверждения оплаты платежной системой (обычно
        от 20 сек. до 5 мин.)
        Иначе обязательно подтвердить оплату в skype <b>grigory.kislin</b> (проект, куда платеж и email)
        или ответом на это письмо.
    </li>
</div>
</html>