<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Занятие 'Многопоточность' проекта Masterjava</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй!<br/>
</p>
<h4>Спасибо за интерес к проекту
    <a href="https://github.com/JavaOPs/masterjava">Многомодульный maven. Многопоточность. XML (JAXB/StAX). Веб сервисы
        (JAX-RS/SOAP). Удаленное взаимодействие (JMS/AKKA)</a>.
</h4>

<h3>Старт стажировки 17.10, ранняя цена до 30.09</h3>
<h3><a href="https://github.com/JavaOPs/masterjava#Программа-проекта-1">Программа проекта</a></h3>
<h3>Первое открытое занятие проекта: <a
        href="https://github.com/JavaOPs/masterjava#Первое-занятие-многопоточность">Многопоточность</a>,
    после которого можно выполнять
    <a href="https://github.com/JavaOPs/masterjava#-Задание-первого-занятия">домашнее задание (HW1)</a>.
</h3>
<ul>
    <li>Участникам проекта выдается индивидуальный ключ IDEA сроком на 6 месяцев (согласно политике JetBrains купон
        выдается только один раз)
    </li>
    <li>Общение по проекту будет в группе Slaсk (разные каналы для уроков и общения)</li>
    <li>Проект будет вестись в записи, обновление проекта патчами (как на стажировке <a
            href="http://javaops.ru/reg/topjava">Topjava</a>)
    </li>
</ul>
<h3>Проверка домашних заданий</h3>
Проверка заданий подразумевает ревью твоего кода. Ты увидишь именно свои ошибки в стиле, структурах данных, алгоритмах и кодировании. <b>Это
    самый эффективный способ научиться программировать</b>. Все домашние задания это часть проекта. Часть из них
достаточно
простая, часть Optional - сложнее. Участники чекинят код в гитхаб и шлют ссылку на репозиторий. Проверка
заданий делается мной (<a href="http://gkislin.ru/ru/cv.html">Григорий Кислин</a>), результат проверки пишется в slack. Получается эффективно и
оперативно. Можно что-то переделать и снова поревьюится.
<hr/>
<ul>
    <li><a href="http://javaops.ru/reg/masterjava#price">Стоимость участия</a></li>
    <li>Для всех: <b>бесплатное</b> участие в следующий выпусках проекта.</li>
    <li>Оплатить участия теперь можно прямо из <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">личного профиля</a> либо <a href="http://javaops.ru/view/payment">любым другим удобным способом</a></li>
    <li>После оплаты обязательно свяжитесь со мной в skype <b>grigory.kislin</b> или ответом на это письмо (с указанием
        куда и когда был платеж)
    </li>
</ul>
<p>
    До встречи на проекте!
</p>
<p th:include="mailFragments::footer">
</p>
</html>