<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="authUser" type="ru.javaops.to.AuthUser"*/-->

<h4 th:fragment="basejava_title">
    <a data-toggle="tooltip"
       data-original-title="Начальный уровень: от массивов до CRUD веб приложения"
       data-placement="right">
        <img src="/static/img/kettle-48.png"/></a> <a href="#basejava" data-toggle="collapse">&nbsp;Разработка Web
    приложения "База данных резюме"</a>
</h4>
<th:block th:fragment="basejava">
    Разработка веб приложение с первого занятия. Объектная
    модель, коллекции, система ввода-вывода, работа с файлами, сериализация, работа с XML, JSON, SQL,
    персистентность в базу данных (PostgreSQL), сервлеты, JSP/JSTL, веб-контейнер Tomcat, HTML,
    модульные тесты JUnit, java.util.Logging, система контроля версий Git.
</th:block>

<h4 th:fragment="topjava_title">
    <a data-toggle="tooltip"
       data-original-title="Средний уровень: от CRUD веб приложения до многоуровневого Spring/ Security/ JPA приложения"
       data-placement="right"><img src="/static/img/middle-48.png"/></a>
    <a href="#topjava" data-toggle="collapse">&nbsp;Стажировка Java Enterprise</a>
</h4>
<th:block th:fragment="topjava">
    Разработка <b>Spring/JPA Enterprise приложения</b> c авторизацией и правами доступа на
    основе ролей с использованием наиболее популярных инструментов и технологий Java: Maven, Spring MVC,
    Security, JPA(Hibernate), REST(Jackson), Bootstrap (css,js), datatables, jQuery + plugins, Java 8
    Stream and Time API и сохранением в базах данных Postgresql и HSQLDB.
</th:block>

<h4 th:fragment="masterjava_title">
    <a data-toggle="tooltip"
       data-original-title="Эксперт: Многопоточность JAXB/StAX, JAX-WS/SOAP, JAX-RS, JMS, AKKA, Guava, JMH, Lombook, ..."
       data-placement="right"><img src="/static/img/guru-48.png"/></a> <a href="#masterjava" data-toggle="collapse">
    Многомодульный maven. Многопоточность. XML. Веб
    сервисы. Удаленное взаимодействие</a>
</h4>
<th:block th:fragment="masterjava">
    Разработка полнофункционального многомодульного Maven проекта, состоящего из 3-х веб приложений.
</th:block>

<h4 th:fragment="interview_title">
    <a data-toggle="tooltip"
       data-original-title="Поверь свой уровен. Пройди тестовое Java собеседование."
       data-placement="right"><img src="/static/img/test-48.png"/></a> <a href="#interview" data-toggle="collapse">
    &nbsp;Интервью в skype на позицию Java разработчик.</a>
</h4>
<th:block th:fragment="interview">
    <ul>
        <li>cамые распространенные вопросы на собеседованиях</li>
        <li>упор не на заучивание ответов, а на понимание основ</li>
        <li>советы как лучше ответить или оформить свою мысль</li>
        <li>выявление слабых мест и пробелов</li>
        <li>объяснение непонятных мест, указание ресурсов для проработки</li>
        <li>позитивный, доброжелательный настрой и уверенность</li>
        <li>оценка реального уровня знаний</li>
    </ul>
</th:block>


<th:block th:fragment="projectInfo(project)">
    <form th:if="${not authUser.isPresent(project)}"
          th:action="@{/register}" method="post"
          style="margin-bottom: 5px">
        <input name="nameSurname" th:value="${authUser.fullName}" hidden="hidden"/>
        <input name="email" th:value="${authUser.email}" hidden="hidden"/>
        <input name="template" th:value="|${project}_entrance|" hidden="hidden"/>
        <input name="project" th:value="${project}" hidden="hidden"/>
        <input name="channel" value="profile" hidden="hidden"/>
        <button class="btn btn-default" type="submit">
            Получить бесплатное первое занятие
        </button>
    </form>

    <h4 th:if="${authUser.isRegistered(project)}" style="padding-bottom: 3px">
        <a th:href="@{'https://github.com/JavaOPs/'+${project}}" href="#">Первое занятие</a>
    </h4>
    <th:block th:include="fragment/projectFragments::payonline(${project})"/>

    <h4 th:if="${authUser.isCurrent(project)}">
        <span>Спасибо за участие в проекте!</span>&nbsp;
        <a th:href="@{'https://github.com/JavaWebinar/'+${project}}" href="#">
            Программа/Расписание
        </a>
    </h4>
</th:block>

<th:block th:fragment="projectTitle(project)">
    <h4 th:if="${project=='basejava'}" th:include="fragment/projectFragments::basejava_title"></h4>
    <h4 th:if="${project=='topjava'}" th:include="fragment/projectFragments::topjava_title"></h4>
    <h4 th:if="${project=='masterjava'}" th:include="fragment/projectFragments::masterjava_title"></h4>
    <h4 th:if="${project=='interview'}" th:include="fragment/projectFragments::interview_title"></h4>
</th:block>

<th:block th:fragment="payonline(project)">
    <a th:if="${authUser==null}" class="btn btn-amber" href="/view/login">Оплатить ОНЛАЙН (требуется вход)</a>
    <th:block th:if="${authUser!=null}" th:with="map = ${T(ru.javaops.util.ProjectUtil).getPayDetails(project)}">
        <form th:if="${!map.isEmpty()}" action="/auth/payonline" method="post" style="margin-bottom: 5px">
            <th:block th:each="entry, stat: ${map.entrySet()}" th:with="payDetail = ${entry.value}">
                <h5 th:if="${payDetail.info != null}">
                    <input type="radio" th:name="payId" th:value="${entry.key}" th:checked="${stat.count==1}?checked"/>
                    &nbsp;[[${payDetail.info}]]:
                    <span th:if="${payDetail.discountPrice}!=${payDetail.price}"
                          style="color: gray; text-decoration: line-through;">[[${payDetail.price}]]</span> <b>[[${payDetail.discountPrice}]]</b> RUB<br/>
                </h5>
            </th:block>
            <button class="btn btn-amber" type="submit">Оплатить ОНЛАЙН</button>
        </form>
    </th:block>
</th:block>
</html>