<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>10 хороших новостей от Java Online Projects.</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
Делаю рассылку нечасто, поэтому новостей накопилось:) Итак:
<h4><a href="http://javaops.ru/reg/topjava">26.10 старт стажировки Topjava</a>. До 30.09 дейcтвует ранняя цена.</h4>
<h4><a href="http://javaops.ru/reg/masterjava">17.10 старт стажировки Masterjava</a>. До 30.09 дейcтвует ранняя цена.
</h4>
Остается возможность проходить стажировки в индивидуальном порядке, из <a
        th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">своего профиля</a> можно <b>записаться
    на бесплатный повтор</b>.<br/>
Буду признателен <b>за рекомендации друзьям и репосты <a href="https://vk.com/javawebinar?w=wall-58538268_917">наборов в
    VK</a> и <a href="https://www.facebook.com/groups/javaops/permalink/331728463920969/">в Facebook</a></b>.
Напомню про бонусную программу: при оплате проекта новым участником, пришедшим по личной реферальной ссылке (скопировать
из
профиля), начисляются бонусы. В профиле стоимость на проекты рассчитывается автоматически с учетом бонусов и участия в
других проектах.
<h4>Интергация с Tinkoff интернет-эквайрингом.</h4>
Оплачивать проекты стало удобнее и быстрее: из профиля теперь доступна онлайн оплата банковской картой (подключена опция
"Весь мир"). Письмо участника (доступ ко всем материалам, приглашение в Slack и единоразовый ключ Ultimate IntelliJ IDEA
на 6
месяцев) приходит сразу после подтверждения оплаты платежной системой (обычно от 20 сек. до 5 мин.).
Из профиля можно сделать тестовый платеж.

<h4>Переработаны почти все занятия обновленного проекта <a href="http://javaops.ru/reg/basejava">Разработка Web
    приложения "База данных резюме"</a> (от массивов до CRUD веб приложения). Скоро ожидаются первые выпускники.</h4>
Проект идет в индивидуальном режиме (старт в любое время) по готовым материалам с поддержкой в мессенджере Slack и
личным куратором Татьяной. Все домашние задания являются частью веб проекта, их разбор идет в начале каждого занятия.
<a href="https://javawebinar.github.io/">Так будет выглядеть мое резюме</a> в разрабатываемом на этом проекте
приложении.

<h4>Планируется интеграция с сервисом поиска разработчиков <a href="https://getcoder.io">GetCoder</a></h4>
Пожалуйста, заполните у себя в профиле новое поле <b>GitHub account</b> (или достаточно залогиниться через GitHub). Не
забудьте указать в прфиле GitHub локацию - это важная информация для HR.

<h4>Группу Slack JavаOPs стала доступной всем участникам (не только выпускникам Topjava)</h4>
В группе есть каналы помощи с Java, отзывы о работодателях, обсуждение тестовых заданий, вакансии, цены на рынке труда,
IT события, интересные видео по теме и многое другое.
Вступить в группу можно из <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">личного
    профиля</a>. <b>Присоединяйтесь, если еще не с нами</b>!

<h4>Число HR партнеров по трудоустройству (компании и индивидуальные рекрутеры), которым доступна база выпускников, достигло 125.</h4>
Напомню, что твое резюме недоступно для просмотра, если <b>нет галочки <code>Рассматриваю предложения о работе</code></b> или <b>отсутствует <code>Ссылка на резюме</code></b>

<h4>На сайте появился раздел <a href="http://javaops.ru/view/news">Новости</a>, который будет периодически обновляться
</h4>

<h4>Ближе к ноябрю планирую запускать стажировку <b>Spring Boot/ Микросервисы</b>. Участникам <a
        href="http://javaops.ru/reg/masterjava">Masterjava</a> будет
    специальная скидка. Следите за новостями.
</h4>

<h4>Также:</h4>
<ul>
    <li>Обновились <a href="http://javaops.ru/view/story">Истории успеха</a>. Жду твою!</li>
    <li>Пофиксил багу с потерей данных при вступлении из профиля в группу Slack JavаOPs. Пожалуйста, проверьте свои
        данные и восстановите их, если часть потерялсь. Можете обращаться ко мне за помощью в восстановлении.
    </li>
    <li>Профиль стал еще умнее. Пофиксил баги. Обязательно сообщайте мне обо всех проблемах и предложениях по сайту.
    </li>
</ul>
<p th:include="mailFragments::footer">
</p>
</html>