<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>10 хороших новостей от Java Online Projects.</title>
</head>
<p th:replace="mailFragments::header(${user})">
    Здравствуй firstName!<br/>
</p>
Делаю рассылку нечасто, поэтому навостей накопилось:) По порядку:
<hr/>
<h3><a href="http://javaops.ru/reg/topjava">26.10 старт стажировки Topjava</a>. До 30.09 дейтвует ранняя цена.</h3>
<h3><a href="http://javaops.ru/reg/masterjava">17.10 старт стажировки Masterjava</a>. До 30.09 дейтвует ранняя цена.</h3>
Остается возможность проходить стажировку в индивидуальном порядке.<br/>
Из <a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">своего профиля</a> можно <b>записаться на бесплатный повтор</b><br/>
Буду признателен за рекомендации друзьям и репосты <a href="https://vk.com/javawebinar?w=wall-58538268_917">наборов в VK</a> и <a href="https://www.facebook.com/groups/javaops/permalink/331728463920969/">в Facebook</a>.<br/>
Напомню про бонусную программу: при оплате новым участником, пришедшим по личной реферальной ссылке (скопировать из профиля) начисляются бонусы. В профиле стоимость на проекты расчитывается автоматически с учетом бонусов и участия в других проектах.
<h3>Интергация с Tinkoff интернет-эквайрингом</h3>
Оплачивать проекты стало удобнее и быстрее: из профиля теперь доступна онлайн оплата банковской картой (подключена опция "Весь мир").
Письмо участника (доступ ко всем материалам, приглашение в Slack и единоразовый ключ Ultimate IntelliJ IDEA на 6 месяцев) приходит сразу после подтверждения оплаты платежной системой (обычно от 20 сек. до 5 мин.)

<h3>Переработаны почти все занятия обновленного проекта <a href="http://javaops.ru/reg/basejava">Разработка Web приложения "База данных резюме"</a>  (от массивов до CRUD веб приложения). Скоро ожидаются первые выпускники</h3>.
Проект идет в индивидуальном режиме (старт в любое время) по готовым материалам с поддержкой в мессенджере Slack и личным куратором Татьяной. Все домашние задания являются частью веб проекта, их разбор идет в начале каждого занятия.
<a href="https://javawebinar.github.io/">Так будет выглядеть мое резюме</a> в разрабатываемом на этом проекте приложении.

<h3>Планируется интеграция с сервисом поиска разработчиков <a href="https://getcoder.io">GetCoder</a></h3>
Пожалуйста заполните у себя в профиле новое поле GitHub account (или достаточно залогиниться через GitHub). Не забудьте указать в прфиле GitHub локацию - это важная информация для HR.<br/>
Число HR партнеров по трудоустройству (компании и индивидуальные рекрутеры), которым доступна база выпускников, достигло 125.

<h3>Группу Slack JavаOPs стала доступной всем участникам (не только выпускникам Topjava)</h3>
В группе есть каналы помощи с Java, отзывы о работодателях, обсуждение тестовых заданий, вакансии, цены на рынке труда, IT события, интересные видео по теме и многое другое.
Вступить в группу можно из Личного профиля. Присоединяйтесь, если еще не с нами!

<h4>Если у тебя есть знакомые, желающие значительно поднять свой уровень владения самым востребованным в Java Enterprise
    стеке
    технологий и принять участие в проекте, до 01.03 <a href="http://javaops.ru/reg/topjava/">действует акция на
        юбилейный 10й проект: 7700 руб. (без проверки ДЗ) и 15000 руб. с проверкой</a>.</h4>
TopJava-10 начнется 16.03 (первое занятие 23.03, <a href="http://javaops.ru/reg/topjava/">расписание</a>).
Если есть желание повторно поучаствовать, небольшое условие: <b>пожалуйста сделай репост <a
        href="https://vk.com/javawebinar?w=wall-58538268_607">объявления о наборе в VK</a> или <a
        href="https://www.facebook.com//gkislin/posts/10212461996290191">в Facebook</a></b>
и <b><a th:href="@{http://javaops.ru/repeat(email=${user.email}, project='topjava')}">зарегистрируйся</a></b>,
придет ссылка на группу Slack <b>topjava10</b> (за репост буду благодарен, даже если не собираетесь идти на повтор:).
<hr/>
Проект <a href="http://javaops.ru">Java OPs</a> также развивается (хотя и не так быстро, как бы мне хотелось). Растет
число <b><a
        href="http://javaops.ru/view/story">историй успеха</a></b>.<br/>
<h3>А ты уже прошел испытательный срок и написал свою историю:)? <br/>
    Помоги тем, кто еще в процессе трудоустройства!</h3>

Также собираюсь делать рассылки по вакансиям более красиво, чем через <a href="http://goo.gl/forms/Oy5A7HNkWt">форму
    соискателя</a>.
<ul>В <b><a th:href="@{http://javaops.ru/profile(email=${user.email}, key=${activationKey})}">твоем профиле</a></b>
    появились поля
    <li><code>Рассматриваю предложения о работе</code>: рассылка о работе на почту, доступность твоих данных для HR</li>
    <li><code>Ссылка на резюме</code> (проверь, что оно открыто, не забудь вписать <a
            href="https://github.com/JavaOPs/topjava/blob/master/cv.md#Позиционирование-проекта-topjava">Topjava в
        опыт</a>)
    </li>
    <li><code>Готов к релокации</code>: рассматриваешь предложения независимо от города</li>
    <li><code>Текущее место работы</code> и <b><code>идет набор</code></b>: последнее, если у тебя на работе <b>готовы
        трудоустроить наших выпускников</b>, это важно!
    </li>
    <li><code>Получил работу благодаря стажировке Java Online Projects</code>: для статистики, которая будет доступна
        всем
    </li>
</ul>
Пожалуйста отредактируй город из выпадающего списка (в основном кириллицей), чтобы тебя нашли и скорректируй данные о
себе для HR, если рассматриваешь предложения о работе.<br/>
Надеюсь, что вместе с вами процесс трудоустройства станет простым и доступным каждому выпускнику!
<p th:include="mailFragments::footer">
</p>
</html>