<html xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="project" type="java.lang.String"*/-->
<!--/*@thymesVar id="payNotify" type="ru.javaops.payment.PayNotify"*/-->
<!--/*@thymesVar id="payDetail" type="ru.javaops.payment.ProjectPayDetail$PayDetail"*/-->
<head th:replace="fragment/fragments::headTag('Оплата')">
    <link rel="stylesheet" href="../../../static/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../../static/css/mdb.css"/>
    <link rel="stylesheet" href="../../../static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="../../../css/style.css"/>
</head>
<body>
<nav th:replace="fragment/fragments::header" class="navbar fixed-top navbar-toggleable-md navbar-dark nav-bgr">
    <div class="container">
        <a href="/" class="navbar-brand"><strong>Java Online Projects</strong></a>
    </div>
</nav>
<div class="container box">
    <div class="jumbotron">
        <th:block th:replace="fragment/projectFragments::projectTitle(${project})"/>
        <h5>[[${payDetail.info}]]</h5>
        <hr/>
        <h2>Оплата прошла успешно</h2>
        <h3>Принят платеж: <b>[[${payNotify.amount}]]</b> руб.</h3>
        <br/>
        <h4>После обработки платежа будет отправлено письмо с оставшейся суммой<br>(оплатить до начала занятий)</h4>
        <a href="/auth/payonline/checkStatus" class="btn btn-info">Проверить статус обработки платежа</a>
    </div>
</div>
</body>
<th:block th:include="fragment/fragments::js-skype"/>
</html>